<input type="button" value="New Game" 
	   onclick="@("window.location.href='" + @Url.Action("Index", "Home") + "'");" />

<h1>@Html.Raw(ViewBag.Number)</h1>

<table>
@for (int i = 0; i < 5; i++)
{
	<tr>
	@for (int j = 0; j < 5; j++)
	{
		<td>
			<button class="command-button" style="width:100px;background-color:white" id="@(i*5+j)" 
					onclick="myFunction( @(i*5+j), '@Html.Raw(ViewBag.Colors[i * 5 + j])')">
				<span class="icon mif-share">@Html.Raw(ViewBag.Words[i * 5 + j])</span>
			</button>
		</td>
	}	
	</tr>
}
</table>

<script>
	function myFunction(idx, color) {
		if (confirm("Are you sure")) {
			document.getElementById(idx).textContent = color;
			document.getElementById(idx).style.backgroundColor = color;
		}
	}
</script>